# Environment variables for Example local development

NODE_ENV=

# Backend Production URL (required for login/register API proxy)
NEXT_PUBLIC_API_BASE_URL=https://scholar-flow-backend-wp07.onrender.com

# AI Backend Production URL
NEXT_PUBLIC_API_AI_BASE_URL=